<div id="profileIcon">

  <p>> <%= link_to("EDUCATION", edu_path) %></p>
  <p>> <%= link_to("EXPERIENCE", exp_path) %> <%= fa_icon('cog spin')%></p>
  <p>> <%= link_to("PROJECT & IDEAS", proj_path) %></p>
  <p>> <%= link_to("IMAGE", img_path) %></p>

</div>


<div id="education">
  <p class='educationTitle'>EXPERIENCE [</br>{</p>

  <ul class="educationList">
    <li><span class='h_oneTab'>Role: 'Project Specialist',</span></li>
    <li><span class='h_oneTab'>Company: 'SAP',</span></li>
    <li><span class='h_oneTab'>Industry: 'IT & Software',</span></li>
    <li><span class='h_oneTab'>Time: '2014.6 - 2014-9',</span></li>
    <li><span class='h_oneTab'>What I acheived: {
      <ul class='educationListCourse'>
        <li>1: 'Math 32a, 32b: Multivariable Calculus',</li>
        <li>2: 'Math 33a: Intro to Linear Algebra',</li>
        <li>3: 'Math 33b: Differential Equation',</li>
        <li>4: 'Physics 1a: Mechanics',</li>
        <li>5: 'Physics 1b: Wave and Oscillation',</li>
        <li>6: 'Chem 20A: Atomic Structure',</li>
        <li>7: 'PIC 10a,b,c: Intro/Intermediate/Advanced C++',</li>
        <li>8: 'PIC 40a: Web Programming',</li>
        <li>9: 'Math 115A: Linear Algebra',</li>
        <li>10: 'Math 131A: Real Analysis',</li>
        <li>11: 'Math 132: Complex Analysis',</li>
        <li>12: 'Math 134: Nonlinear System',</li>
        <li>13: 'Math 142: Mathematical Modeling',</li>
        <li>14: 'Math 151A: Numerical Methods',</li>
        <li>15: 'Math 155: Digital Image Processing',</li>
        <li>16: 'Math 164: Optimization',</li>
        <li>17: 'Math 170a,b: Probability Theory',</li>
        <li>18: 'CS 118: Computer Network',</li>
        <li>19: 'CS 143:  Database Management System',</li>
        <li>20: 'CS 170A: Computer Methods',</li>
        <li>21: 'CS 180: Algorithm and Complexity'</li>
      </ul><span class='h_oneTab'>}</span>
    </li></span>},
  </ul>




  <p class="educationName" id="educationNameSecond">
      <p>{</p>
      <span class='h_oneTab'>College: Yale University - New Haven, USA</span>
  </p>

  <ul class="educationList">
    <li><span class='h_oneTab'>Program: 'Summer Program, 2014'</span></li>
    <li><span class='h_oneTab'>Courses: {
      <ul class='educationListCourse'>
        <li>1: 'Mathematical Logic'</li>
      </ul><span class='h_oneTab'>}</span>
    </span></li>}]
    
  </ul>
</div>