<div id="profileIcon">

  <p>> <%= link_to("EDUCATION", edu_path) %></p>
  <p>> <%= link_to("EXPERIENCE", exp_path) %></p>
  <p>> <%= link_to("PROJECT & IDEAS", proj_path)  %> <%= fa_icon('cog spin')%></p>
  <p>> <%= link_to("SKILL", skill_path) %></p>
  <p>> <%= link_to("IMAGE", img_path) %></p>

</div>