<!DOCTYPE html>
<html>
<head>
  <title>Benjamin Bao</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='name'><p>************************* Benjamin Yuyang Bao *************************</p></div>
<div id='profileInfo'>
  <img id='profileInfoImg' width="135" height="135" src="assets/profile.jpg" alt='profile picture, too bad'></img>
  <div id='profileInfoText'>
    {
    <p><span class='h_oneTab'>Intro: 'I'm Ben, a crazy computer euthusiast!</br><span class='h_introTab'>I'm currently a UCLA ugrad senior student,</span></br><span class='h_introTab'>welcome to my website!',</span></span></br></br><span class='h_oneTab'>Email: 'byyagp@gmail.com', </span></br> <span class='h_oneTab'>Cell: '+13109139124',</span></br> <span class='h_oneTab'>Address: '10933 Rochester Ave, Apt 416'</span></br>}</p>
  </div>
</div>

<!-- this is for the nav bar -->
<div id="profileIcon">

  <p>> <%= link_to("EDUCATION", edu_path) %> <%= fa_icon('cog spin') if @cog_str == "edu"%></p>
  <p>> <%= link_to("EXPERIENCE", exp_path) %> <%= fa_icon('cog spin') if @cog_str == "exp"%></p>
  <p>> <%= link_to("PROJECT & IDEAS", proj_path) %> <%= fa_icon('cog spin') if @cog_str == "proj"%></p>
  <p>> <%= link_to("SKILLS", skill_path) %> <%= fa_icon('cog spin') if @cog_str == "skill"%></p>
  <p>> <%= link_to("IMAGE", img_path) %> <%= fa_icon('cog spin') if @cog_str == "img"%></p>

</div>

<%= yield %>

<div id='footer'>
  ***********************************************************************
  <h4>Statistics:</h4>
  <ul id='footerStats'>
    <li>Page Views: </li>
    <li>You are the 20th visitor! Thanks!</li>
  </ul>

  <ul id='footerMenu'>
    <li><%= link_to("EDUCATION", edu_path)%> <%= fa_icon('cog spin') if @cog_str == "edu"%></li>
    <li><%= link_to("EXPERIENCE", exp_path) %> <%= fa_icon('cog spin') if @cog_str == "exp"%></li>
    <li><%= link_to("PROJECT & IDEAS", proj_path) %> <%= fa_icon('cog spin') if @cog_str == "proj"%></li>
    <li><%= link_to("SKILLS", skill_path) %> <%= fa_icon('cog spin') if @cog_str == "skill"%></li>
    <li><%= link_to("IMAGE", img_path) %> <%= fa_icon('cog spin') if @cog_str == "img"%></li>
  </ul>

  <p></p>
</div>

</body>
</html>
